language: java

jdk:
- openjdk8

branches:
  only:
  - develop
  - master
  - baseline

cache:
  directories:
  - '$HOME/.m2/repository'
  - '$HOME/.gradle'

script:
- zip -r latest *
- mkdir -p dpl_cd_upload
- mv latest.zip dpl_cd_upload/latest.zip


deploy:
- provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on: &2
    repo: wwh-techcamp-2018/team6-SeeYouAtSeptember
    all_branches: true
  bucket: moduchan
  region: ap-northeast-2
- provider: codedeploy
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: moduchan
  key: latest.zip
  bundle_type: zip
  application: moduchan
  deployment_group: moduchan
  region: ap-northeast-2
  on: *2

notifications:
  email:
    recipients:
    - tech_dhy@gmail.com
    - tech_kic@gmail.com
    - tech_syp@gmail.com
    - tech_ysc@gmail.com
