a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categories {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    height: 125px;
    width: 960px;
    margin: 15px auto;
}

.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 1;
    background: white;
    border-bottom: 2px dashed black;
}

.sticky-scissors {
    display: none;
    position: fixed;
    width: 50;
    top: 101;
    transform: rotate(90deg);
    z-index: 2;
}

.categories li {
    height: 115px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.categories li img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid #25d4ce00;
}

.categories li p {
    margin-bottom: 0;
    cursor: pointer;
}

.categories li.on {
    color: #25d4ce;
}

.categories li.on img {
    border: 2px solid #25d4ceff;
}

#category-content {
    width: 960px;
    position: static;
}

.projects {
    display: grid;
    grid-column-gap: 4%;
    grid-row-gap: 50px;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.projects a {
    padding: 3px;
    border-radius: 3px;
    transition: box-shadow .4s;
}

.projects a:hover {
    box-shadow: 0 0 12px rgba(33, 33, 33, .2);
}

.projects a {
    padding: 3px;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -ms-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.projects li .project-img img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.projects li {
    width: 100%;
}

.projects li .project-info-list {
    width: 300px;
    height: 100px;
}

.project-div .progress {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 5px; /* Can be anything */
    position: relative;
    background: #e6eaed;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.project-div .progress span {
    display: block;
    max-width: 100%;
    height: 100%;
    background-color: #2bc2bc;
    position: relative;
    overflow: hidden;
}

.project-div .progress span.transition {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.project-div div h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.project-div .day-remaining {
    float: right;
}

.project-div .current-fund-raising {
    float: right;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transform: rotateX(0deg);
}

.project-div .progress-span {
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transform: rotateX(0deg);
    display: inline-block;
}

.project-div .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-div .title h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-div .title div {
    font-size: 14px;
    color: #90949c;
}

.project-div span {
    color: #90949c;
    font-size: 15px;
}

#more-project-btn {
    width: 100%;
    height: 40px;
    margin: 40px 0;
    position: static;
    cursor: pointer;
    background: #2ac1bc;
    color: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

#more-project-btn:hover {
    background: #17aba6;
}
