#thumbnailUrl{
    width:99%;
    height:500px;
    border-style:dotted;
}

body > div.projects-form {
    position: absolute;
    width: 70%;
    padding: 0% 15%;
}

div.projects-form .projects-form-grid {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

div.projects-form .projects-form-grid#row1 {
    grid-template-areas: "img summary";
}

div.projects-form .projects-form-grid#row2 {
    grid-template-areas: "description product";
}

div.projects-form .projects-form-grid#row1 {
    width: 100%;
    height: 600px;
}

div.projects-form .projects-form-grid div.projects-form.img {
    width: 100%;
    height: 600px;
}

div.projects-form .projects-form-grid#row1 div.projects-form {
    display: grid;
    grid-area: img;
    top: 50%;
    overflow: hidden;
}

div.projects-form .projects-form-grid#row1 .projects-form-detail {
    grid-area: summary;
    width: 80%;
    padding: 0 10%;
}

#row2 .edit-des{
    width:100%;
    height:auto;
}

#row2 .products-addList{
    width:80%;
    padding: 0 10%;
}

span.tb-in-txt.caution {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

.projects-form.detail.title {
    margin-top:10px;
}


.projects-form.goalFundRaising {
    margin-top:10px;
}

.projects-form.detail.endAt{
    margin-top:10px;
}

.product-addInfo{
    margin-top:15px;
}

#create-project-btn{
    margin-top:15px;
    width:200px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-header span {
    color: #e5e5e5;
    font-size: 28px;
    font-weight: bold;
}

.modal-header span:hover,
.modal-header span:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: right;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.modal-footer #crop-btn {
    background: #2ac1bc;
    color: #fff;
}