input, select {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px #e4e4e4 solid;
    outline: none;
}

input:hover, select:hover, input:focus, select:focus {
    border: 1px #2bc2bc solid;
}

.project-create-form {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 35%;
    grid-gap: 5%;
    margin: 30px 0px;
}

.thumbnail {
    height: 572px;
    border: 2px dashed #aeaeae;
    cursor: pointer;
}

.thumbnail:hover {
    border: 2px dashed #2bc2bc;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.product-grid {
    width: 916px;
    border-top: 2px #efefef solid;
    border-bottom: 2px #efefef solid;
    height: 330px;
    margin: 40px 0;
    padding: 20px;
}

.product-grid h4 {
    display: inline;
    font-size: 17px;
    margin: 0;
}

.product-grid .trash-bin {
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('/image/trash.png') no-repeat;
    background-size: contain;
}

.product-grid .trash-bin:hover {
    background: url('/image/trash-red.png') no-repeat;
    background-size: contain;
}

.product-grid ul {
    display: grid;
    grid-template-columns: repeat(4, 214px);
    grid-gap: 20px;
    margin: 16px 0;
}

.product-card {
    border: 2px #efefef solid;
    font-size: 15px;
    padding: 0 10px;
    height: 290px;
    cursor: pointer;
}

.product-card:hover {
    background: #fafafa;
}

.product-card .description {
    display: block;
    width: 100%;
    height: 120px;
    padding-left: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    padding-top: 5px;
    resize: none;
    outline: none;
    overflow: scroll;
}

.description:hover, .description:foucs {
    border: 1px #2bc2bc solid;
}

.product-add-button {
    border: 2px #efefef solid;
    padding: 0 10px;
    height: 290px;
    cursor: pointer;
    background: url('/image/add-button.png') center;
}

.product-add-button:hover {
    background: url('/image/add-button-hover.png') center;
    border: 2px #2bc2bc solid;
}

.product-card.selected {
    border: 2px #2bc2bc solid;
    background: #22bbcc0d;
}

.create-project-button {
     height: 40px;
     font-size: 18px;
     background-color: #2bc2bc;
     color: white;
     width: inherit;
     border: 0;
     border-radius: 5px;
     margin: 20px 0;
     cursor: pointer;
     outline: none;
 }

.create-project-button:hover {
    background: #17aba6;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding: 15px 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.modal-header span {
    color: #e5e5e5;
    font-size: 28px;
    font-weight: bold;
}

.modal-header span:hover,
.modal-header span:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: right;
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    margin: 15px 0;
}

.modal-footer {
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.modal-footer #crop-btn {
    background: #2ac1bc;
    color: #fff;
}

.edit-des{
    padding-bottom:2px;
}