a {
    text-decoration: none;
}

.header {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 95px;
    display: inline-grid;
    grid-template-columns: 10% 15% 30% 35% 10%;
    grid-template-areas: ". logo project account .";
}

.header span {
    margin: 0 5px;
    color: black;
    cursor: pointer;
    transition-property: color;
    transition-duration: .25s;
    font-weight: 700;
    font-size: 16px;
}

.header span:hover {
    color: #2bc2bc;
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

.navigation-project {
    grid-area: project;
    justify-self: left;
    align-self: center;
}

.navigation-account {
    grid-area: account;
    justify-self: right;
    align-self: center;
}

.promotion {
    width: 100%;
    height: 450px;
    overflow: hidden;

    background-image: url(https://tumblbug-assets.imgix.net/heroes/toybox01.jpg?w=1800&h=600&fit=crop&q=60);
    /* background-size: cover;
    background-position: center center; */
}

.promotion img {
    width: 100%;
}

div.dropdown-wrapper {
    position: absolute;
    float: left;
    font-family: 'Roboto', sans-serif;
    top: 65px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 55% 35% 10%;
    grid-template-areas: ". dropdown .";
}

div.dropdown-div {
    z-index: 1;
    grid-area: dropdown;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "owner support";
}

div.dropdown-div > div {
    visibility: hidden;
    position: relative;
    opacity: 0;
    height: 0px;
    width: 100%;
    margin: 0px;
    transition: all .5s;
    background-color: white;
}

div.dropdown-wrapper label.dropdown-label {
    width: 100%;
    text-align: center;
    display: inline-block;
    height: 10%;
}

div.dropdown-wrapper span.dropdown-title {
    width: 100%;
    text-align: center;
    display: inline-block;
}

div.dropdown-div ul {
    -webkit-padding-start: 0px;
    list-style: none;
    height: 90%;
    overflow: scroll;
    margin: 0px;
}

ul.dropdown-owner {
    grid-area: owner;

}

ul.dropdown-support {
    grid-area: support;
}

li.dropdown-item {
    background-color: #d5f4f4;
    height: 0px;
    transition: all .5s;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

li.dropdown-item .progress {
    position: absolute;
    max-width: 100%;
    height: 100%;
    background-color: #bedcff;
    border-radius: 10px;
}

li.dropdown-item .content {
    position: relative;
    color: black;
}

li.dropdown-item div.content > span {
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}