ul, li {
    -webkit-padding-start: 0px;
    list-style: none;
}

/*project-detail*/

#project-detail {
    position: relative;
    width: inherit;
}

#project-detail .project-title-wrapper {
    width: 100%;
    height: 80px;
}

#project-detail .project-title-wrapper .project-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#project-detail .project-detail-grid {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 60% 40%;
}

#project-detail .project-detail-grid#row1 .container {
    width: 100%;
    height: 500px;
}

#project-detail .project-detail-grid#row1 {
    grid-template-areas: "img summary";
}

#project-detail .project-detail-grid#row2 {
    grid-template-areas: "description product";
}

#project-detail .project-detail-grid .thumbnail-img {
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
    max-height: 120%;
    align-self: center;
    justify-self: center;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#project-detail .project-detail-grid#row1 .thumbnail-container {
    display: grid;
    grid-area: img;
    top: 50%;
    overflow: hidden;
    position: relative;
}

#project-detail .project-detail-grid#row1 .thumbnail-centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
}

#project-detail .project-detail-grid#row1 .summary-container {
    grid-area: summary;
    width: 90%;
    margin-left: 10%;
    position: relative;
}

#state-box {
    width: 100%;
}

#state-box .project-title {
    font-size: 30px;
    font-weight: bold;
}

#state-box .remainning-day {
    font-size: 15px;
}

#state-box .progress {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 5px;
    background-color: #e6eaed;
    border-radius: 1px;
    position: relative;
}

#progress-inner-bar {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    width: 0%;
    background-color: #00bf99;
    border-radius: 1px;
    overflow: hidden;
    transition: all 2s;
}

#state-box .progress .baedal-img {
    position: absolute;
    display: inline-block;
    width: 50px;
    top: -40px;
    float: left;
    margin-left: 0%;
    left: -5px;
    transform: rotate(0deg);
    transition-property: margin-left, transform;
    transition-duration: 2s, 1s;
}

#state-box p {
    font-size: 15px;
    margin: 0 0 15px 0;
}

#state-box p span {
    font-size: 35px;
    margin: 0 5px;
}

#project-detail .project-detail-grid#row1 .summary-container .support-btn {
    height: 40px;
    font-size: 18px;
    background-color: #2bc2bc;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#project-detail .project-detail-grid#row1 .summary-container .support-btn:hover {
    background: #17aba6;
}

.summary-container .support-product-cart {
    height: 115px;
    background: #fafafa;
    border: 1px #efefef solid;
    border-radius: 5px;
    overflow: scroll;
}

.summary-container .support-product-cart ul {
    margin: 10px 0px;
}

.summary-container .support-product-cart li {
    margin: 2px 0;
    font-size: 15px;
}

#project-detail .project-detail-grid#row1 .summary-container .support-product-cart li div {
    display: inline-block;
}

#project-detail .project-detail-grid#row1 .summary-container .support-product-cart .title {
    width: 50%;
    padding-left: 20px;
}

#project-detail .project-detail-grid#row1 .summary-container .support-product-cart .amount {
    width: 30%;
    text-align: right;
    padding-right: 5px;
}

#project-detail .project-detail-grid#row1 .summary-container .support-product-cart .amount input {
    text-align: left;
    width: 60px;
    margin-right: 10px;
    padding-left: 5px;
}

#project-detail .project-detail-grid#row1 .summary-container .support-product-cart .close {
    width: 5%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.cart-total {
    font-size: 20px;
    margin-top: 18px;
}

.cart-total #won {
    float: right;
}

.cart-total #money {
    font-size: 30px;
    font-weight: bolder;
}

.product-grid {
    width: 916px;
    border-top: 2px #efefef solid;
    border-bottom: 2px #efefef solid;
    height: 330px;
    margin-top: 40px;
    padding: 20px;
}

.product-grid h4 {
    margin: 0;
    font-size: 17px;
}

.product-grid ul {
    display: grid;
    grid-template-columns: repeat(4, 214px);
    grid-gap: 20px;
    margin: 16px 0;
}

.product-grid .product-card {
    border: 2px #efefef solid;
    padding: 0 20px;
    height: 290px;
    cursor: pointer;
}

.product-grid .product-card.soldout {
    background: #efefef;
}

.product-grid .product-card:hover {
    background: #fafafa;
}

.product-grid .product-card.in {
    border: 2px #2bc2bc solid;
    background: #22bbcc0d;;
}

.product-card .price {
    font-size: 15px;
}

.product-card .price span {
    font-weight: bolder;
    font-size: 20px;
    color: #805c34;
}

.product-card .title {
    font-size: 17px;
}

.product-card .description {
    color: gray;
    font-size: 15px;
    height: 135px;
    overflow: scroll;
}

.product-card .quantity {
    font-size: 15px;
}

.product-card .remainedQuantity {
    font-size: 20px;
    font-weight: bolder;
    color: #805c34;
}

#project-detail .project-detail-grid#row2 .container {
    width: 100%;
    height: auto;
}