.hidden {
    display: none;
}

ul {
    -webkit-padding-start: 0px;
    list-style: none;
}

/* login */
#login .login-box {
    width: 500px;
    margin: 50px auto;
}

#login .login-box .h2-tlt {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

#login .login-box form li {
    margin-bottom: 10px;
}

#login .login-box form .input-label {
    display: inline-block;
    width: 75px;
    font-size: 20px;
    text-align: center;
}

#login .login-box form input.input {
    display: inline-block;
    width: 395px;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    padding-left: 10px;
}

#login .login-box form button.btn-login {
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #2ac1bc;
    color: white;
    margin-bottom: 20px;
}

#login .login-box form p.err-msg {
    display: none;
    font-size: 25px;
    color: #F45452;
    padding-top: 30px;
    text-align: center;
}

/* join */
#join .join-box {
    margin: 50px auto;
    width: 980px;
}

#join .join-box .h2-tlt {
    font-size: 40px;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

#join .join-box .tb-join {
    width: 980px;
    margin-top: 30px;
}

#join .join-box .tb-join tr {
    height: 50px;
}

#join .join-box .tb-join th {
    text-align: left;
}

#join .join-box input {
    width: 170px;
    height: 30px;
    padding-left: 5px;
    display: inline-block;
}

#join .join-box input.small {
    width: 73px;
}

#join .join-box input.large {
    width: 250px;
}

#join .join-box div.selectric-wrapper {
    display: inline-block;
}

#join .join-box div.selectric-wrapper select {
    height: 35px;
}

span.tb-in-txt.caution {
    color: red;
    font-weight: bold;
    display: none;
}