.hidden {
    display: none;
}

ul {
    -webkit-padding-start: 0px;
    list-style: none;
}

.form {
    width: 300px;
    margin: 50px auto;
    box-shadow: 0 1px 2px 1px #efefef;
    padding: 40px 35px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

.thumbnail {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
}

.form form {
    margin: 20px 0px 10px 0px;
}

label {
    margin-left: 5px;
    display: inline-block;
    margin-top: 7px;
    font-weight: 600;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px #e4e4e4 solid;
    outline: none;
}

input:focus, input:hover {
    border: 1px #2ac1bc solid;
}

.phone input {
    width: 30%;
    display: inline;
}

.phone span {
    margin: 0 1px;
}

button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background: #2ac1bc;
    color: white;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #17aba6;
}

.address-search {
    width: 49%;
    float: left;
}

.address-search:first-child {
    margin-right: 2%;
}

.disabled {
    background: #efefef;
}