<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="내 반찬도 우리민족이었어">
    <meta name="keywords" content="모두의 배민찬, 모두찬, 배달의 민족, 배민찬, 푸드 크라우드 펀딩">
    <meta name="author" content="Team6.Techcamp.WoowaBros">
    <title>모두의 배민찬</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css"> {{#block "header"}} {{/block}}
</head>

<body>
    <div id="main-container">
        <div class="header">
            <h1 class="logo">
                <a href="/">
                    <img src="/image/moduchan-logo.png" alt="">
                </a>
            </h1>
            <div class="navigation-project">
                <a href="/categories">
                    <span class="collect-project">프로젝트 모아보기</span>
                </a>
                <a href="/projects/start">
                    <span class="start-project">프로젝트 시작하기</span>
                </a>
            </div>
            <div class="navigation-account">
                {{^loginUser}}
                <a href="/users/login">
                    <span id="signin">로그인</span>
                </a>
                <a href="/users/join">
                    <span id="signup">회원가입</span>
                </a>
                {{/loginUser}}
                {{#loginUser}}
                <a>
                    <span id="logout">로그아웃</span>
                </a>
                <a href="#" id="my-project-btn">
                    <span>나의 프로젝트
                        <i class="fas fa-caret-down"></i>
                    </span>
                </a>
                {{/loginUser}}
            </div>
        </div>
        <div class="dropdown-wrapper">
            <div class="dropdown-div">
                <div class="dropdown-owner-div">
                    <label class="dropdown-label"><span class="dropdown-title">진행중인 프로젝트</span></label>
                    <ul class="dropdown-ul dropdown-owner">

                    </ul>
                </div>
                <div class="dropdown-support-div">
                    <label class="dropdown-label"><span class="dropdown-title">후원중인 프로젝트</span></label>
                    <ul class="dropdown-ul dropdown-support">

                    </ul>
                </div>
            </div>
        </div>
        {{#block "contents"}}
        {{/block}} 
        {{#block "footer"}} 
        {{/block}}
        <script src="/js/common.js"></script>
        <script src="/js/header.js"></script>
    </div>
</body>

</html>