{{> base}}

{{#block "header"}}
<link rel="stylesheet" href="/css/category.css"/>
<link rel="stylesheet" href="/css/create_project.css"/>
<link rel="stylesheet" href="/tui-editor/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/tui-editor/lib/highlightjs/styles/github.css">
<link rel="stylesheet" href="/tui-editor/dist/tui-editor.css">
<link rel="stylesheet" href="/tui-editor/dist/tui-editor-contents.css">
<link rel="stylesheet" href="/tui-editor/lib/tui-color-picker/dist/tui-color-picker.css">
<link rel="stylesheet" href="/tui-editor/lib/tui-chart/dist/tui-chart.css">

{{/block}}
{{#block "contents"}}
<div class="projects-form">
    <div class="projects-form-grid" id="row1">
        <div class="projects-form img">
            <img id="thumbnailUrl"><br>
            <input type="file">
            <span class="tb-in-txt caution" id="project-img">메인 이미지 등록을 해주세요.</span>
        </div>
        <div class="projects-form-detail">
            <div class="categories-dropbox">
                <span>카테고리 설정:</span>
                <select>
                    {{#categories}}
                    <option value="{{id}}">{{title}}</option>
                    {{/categories}}
                </select>
            </div>
            <div class="projects-form detail title">
                <span>제목 :</span><input type="text" id="projects-title-input">
                <span class="tb-in-txt caution" id="project-title">제목은 최소 5자 이상으로 입력해 주세요</span>
            </div>
            <div class="projects-form goalFundRaising">
                <span>목표 금액</span>
                <span>KRW</span>
                <input type="number" value="1000000" step="500000" id="projects-goalFundRaising-input"/>
                <span class="tb-in-txt caution" id="project-goalFundRaising">최소 금액은 최소 1,000,000원 입니다.</span>
            </div>
            <div class="projects-form detail endAt">
                <span>목표 날짜:</span><input type="date" id="projects-endAt-input">
                <span class="tb-in-txt caution" id="project-end">현재 날짜의 30일 이후로 날짜를 등록해 주세요</span>
            </div>
        </div>
    </div>
    <div class="projects-form-grid" id="row2">
        <div class="edit-des">
            <div id="editSection"></div>
        </div>
        <div class="products-addList">
            <button id="addProduct">물품 추가하기</button>

        </div>
    </div>
    <div>
        <button id="create-project-btn">프로젝트 시작</button>
    </div>

</div>

{{/block}}

{{#block "footer"}}
<script src="/tui-editor/lib/jquery/dist/jquery.js"></script>
<script src="/tui-editor/lib/markdown-it/dist/markdown-it.js"></script>
<script src="/tui-editor/lib/to-mark/dist/to-mark.js"></script>
<script src="/tui-editor/lib/tui-code-snippet/dist/tui-code-snippet.js"></script>
<script src="/tui-editor/lib/tui-color-picker/dist/tui-color-picker.js"></script>
<script src="/tui-editor/lib/codemirror/lib/codemirror.js"></script>
<script src="/tui-editor/lib/highlightjs/highlight.pack.js"></script>
<script src="/tui-editor/lib/squire-rte/build/squire-raw.js"></script>
<script src="/tui-editor/lib/raphael/raphael.js"></script>
<script src="/tui-editor/lib/tui-chart/dist/tui-chart.js"></script>
<script src="/tui-editor/dist/tui-editor-Editor.js"></script>
<script src="/js/common.js"></script>
<script src="/js/product.js"></script>
<script src="/js/project.js"></script>

{{/block}}