{{> base}}
{{#block "header"}}
<div class="dropdown-wrapper">
    <div class="dropdown-div">
        <ul class="dropdown-owner">
            <li class="dropdown-item">1번 아이템</li>
            <li class="dropdown-item">2번 아이템</li>
            <li class="dropdown-item">3번 아이템</li>
            <li class="dropdown-item card">
                <div class="progress" style="width=70%"></div>
                <div class="content">
                    <span>프로젝트 이름 들어갈곳</span>
                    15일남음 70%
                </div>
            </li>
        </ul>
        <ul class="dropdown-support">
            <li class="dropdown-item">1번 아이템</li>
            <li class="dropdown-item">2번 아이템</li>
            <li class="dropdown-item">3번 아이템</li>
            <li class="dropdown-item">4번 아이템</li>
        </ul>
    </div>
</div>
<div class="promotion">
</div>
<script src="/js/common.js"></script>
<script src="/js/index.js"></script>
{{/block}}