<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
</head>
<body>
<div id="login">
    <div class="login-box">
        <h2 class="h2_tlt"> 로그인</h2>
        <form>
            <fieldset>
                <legend class="hidden">로그인폼</legend>
                <ul>
                    <li>
                        <label class="input-label" for="email">아이디</label>
                        <input type="text" name="email" value="" id="email" class="input"
                               placeholder="아이디(이메일)" style="ime-mode:inactive">
                    </li>
                    <li>
                        <label class="input-label" for="pwd">비밀번호</label>
                        <input type="password" name="pwd" id="pwd" class="input"
                               placeholder="비밀번호" maxlength="25">
                    </li>
                </ul>
                <button class="btn btn-mint btn-login">
                    <span>로그인</span>
                </button>

                <!-- checkbox -->
                <span class="custom_checkbox">
                                <i class="chk_box"></i>
                                <input id="id_save" type="checkbox" name="id_save" value="Y" class="bf hidden_chk">
                                <label for="id_save">아이디 저장</label>
                            </span>

                <p class="err-msg">로그인 정보를 확인해 주세요.</p>
            </fieldset>
        </form>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
<script src="/js/common.js"></script>
<script src="/js/user.js"></script>
</body>
</html>