{{#partial "header"}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="/css/user.css">
{{/partial}}
{{#partial "contents"}}
<input id="redir-url" style="display:none;" value="{{redirectUrl}}"/>
<div class="form">
    <div class="thumbnail">
        <img src="/image/hajeongwoo-baejjangee.png" alt="">
    </div>
    <form>
        <input type="text" id="email" placeholder="이메일" autocomplete="off">
        <input type="password" id="password" placeholder="비밀번호" maxlength="25" autocomplete="off">
        <button id="login-btn">로그인</button>
    </form>
</div>
{{/partial}}
{{#partial "script"}}
<script src="/js/common.js"></script>
<script src="/js/login.js"></script>
{{/partial}}

{{> base}}