{{#partial "header"}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="/css/project-detail.css">
<link rel="stylesheet" href="/tui-editor/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/tui-editor/lib/highlightjs/styles/github.css">
<link rel="stylesheet" href="/tui-editor/dist/tui-editor.css">
<link rel="stylesheet" href="/tui-editor/dist/tui-editor-contents.css">
<link rel="stylesheet" href="/tui-editor/lib/tui-color-picker/dist/tui-color-picker.css">
<link rel="stylesheet" href="/tui-editor/lib/tui-chart/dist/tui-chart.css">
{{/partial}}
{{#partial "contents"}}
{{#project}}
<div id="project-detail">
    <div class="project-title-wrapper">
        <p class="project-title">{{title}}</p>
    </div>
    <div class="project-detail-grid" id="row1">
        <div class="thumbnail-container container">
            <div class="thumbnail-centered">
                <img class="thumbnail-img" src="{{thumbnailUrl}}">
            </div>
        </div>
        <div class="summary-container container">
            <div id="state-box">
                <p class="remainning-day"><span>{{dayRemainingUntilDeadline}}</span>일 남음</p>
                <p class="goal-fundraising"><span>{{numberFormat currentFundRaising}}</span> 원 / {{numberFormat
                    goalFundRaising}} 원</p>
                <p class="achievement-rate"><span>{{numberFormat progress}}</span>% 달성</p>
                <div class="progress">
                    <span id="progress-inner-bar"></span>
                    <img src="https://s3.ap-northeast-2.amazonaws.com/moduchan-img/static/small-baedal.png"
                         class="baedal-img">
                </div>
                <p class="total-supporter">함께하는 배짱이 <span>{{numberFormat supporterCount}}</span> 명</p>
            </div>
            <div class="support-product-cart">
                <h4>담은 반찬</h4>
                <ul>
                </ul>
            </div>
            <button class="support-btn">주문하기</button>
        </div>
    </div>
    <div class="product-grid">
        <h4>반찬 목록</h4>
        <ul>
            {{#project.products}}
            {{#if quantityRemained}}
            <li class="product-card" data-product-id="{{pid}}">
                {{else}}
            <li class="product-card soldout" data-product-id="{{pid}}">
                {{/if}}
                <p class="price"><span>{{numberFormat price}}</span> 원</p>
                <p class="title">{{title}}</p>
                <p class="description">{{description}}</p>
                <p class="quantity"><span class="remainedQuantity">{{numberFormat remainQuantity}}</span> 개 / <span
                        class="suppliedQuantity">{{numberFormat quantitySupplied}}</span> 개</p>
            </li>
            {{/project.products}}
        </ul>
    </div>
    <div class="description-container container">
        <div class="description-viewer" data-description="{{description}}">
            <div id="viewer-section"></div>
        </div>
    </div>
</div>
{{/project}}
{{/partial}}
{{#partial "footer"}}
<script src="/tui-editor/lib/jquery/dist/jquery.js"></script>
<script src="/tui-editor/lib/markdown-it/dist/markdown-it.js"></script>
<script src="/tui-editor/lib/to-mark/dist/to-mark.js"></script>
<script src="/tui-editor/lib/tui-code-snippet/dist/tui-code-snippet.js"></script>
<script src="/tui-editor/lib/tui-color-picker/dist/tui-color-picker.js"></script>
<script src="/tui-editor/lib/codemirror/lib/codemirror.js"></script>
<script src="/tui-editor/lib/highlightjs/highlight.pack.js"></script>
<script src="/tui-editor/lib/squire-rte/build/squire-raw.js"></script>
<script src="/tui-editor/lib/raphael/raphael.js"></script>
<script src="/tui-editor/lib/tui-chart/dist/tui-chart.js"></script>
<script src="/tui-editor/dist/tui-editor-Viewer.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="/js/common.js"></script>
<script src="/js/project_detail.js"></script>
{{/partial}}

{{> base}}
