{{> base}}
{{#block "header"}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" type="text/css" href="/css/project-detail.css">
{{/block}}
{{#block "contents"}}
<div id="project-detail">
    <div class="project-detail-grid" id="row1">
        <div class="thumbnail-container container">
            <img class="thumbnail-img" src="https://cdn.bmf.kr/_data/product/IDB51/267a850c3eac55e222d5bc920673a581.jpg">
        </div>
        <div class="summary-container container">
            <div id="state-box">
                <p class="remainning-day">30일 남음</p>
                <div class="progress">
                    <span style="width:55%"></span>
                </div>
                <p class="achievement-rate"><strong>70%</strong> 달성</p>
                <p class="total-fundraising"><strong>1,000,000원</strong> 후원</p>
                <p class="total-supporter"><strong>32</strong>명의 후원</p>
            </div>
            <button class="support-btn">후원하기</button>
        </div>
    </div>
    <div class="separator"></div>
    <div class="project-detail-grid" id="row2">
        <div class="description-container container">
            <div class="description-viewer">
                <p style="font-size: 150px; margin: 0.5em; text-align: center">설</p>
                <p style="font-size: 150px; margin: 0.5em; text-align: center">명</p>
                <p style="font-size: 150px; margin: 0.5em; text-align: center">구</p>
                <p style="font-size: 150px; margin: 0.5em; text-align: center">역</p>
            </div>
        </div>
        <div class="product-container container">
            <div class="product-title">
                <p>후원목록</p>
            </div>
            <div class="product-list">
                <div class="product-btn">
                    <div class="product-info-container">
                        <div class="product-info-title">프로덕트 제목</div>
                        <div class="product-info-description">
                            프로덕트 설명<br>
                            프로덕트 설명<br>
                            프로덕트 설명
                        </div>
                        <div class="product-info-price">
                            가격<br>
                            <strong>5,800원</strong>
                        </div>
                        <div class="product-info-delivery">
                            배송비<br>
                            <strong>0원</strong>
                        </div>
                        <div class="product-info-quantity">
                            <span>제한수량 10개 현재 3개 남음</span>
                            <span style="display: none;">재고가 모두 소진되었습니다.</span>
                        </div>
                    </div>
                </div>

                <div class="product-btn">
                    <div class="product-info-container">
                        <div class="product-info-title">프로덕트 제목</div>
                        <div class="product-info-description">
                            프로덕트 설명<br>
                            프로덕트 설명<br>
                            프로덕트 설명
                        </div>
                        <div class="product-info-price">
                            가격<br>
                            <strong>5,800원</strong>
                        </div>
                        <div class="product-info-delivery">
                            배송비<br>
                            <strong>0원</strong>
                        </div>
                        <div class="product-info-quantity">
                            <span>제한수량 10개 현재 3개 남음</span>
                            <span style="display: none;">재고가 모두 소진되었습니다.</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{/block}}
{{#block "footer"}}
<!--<script src="/js/common.js"></script>-->
<!--<script src="/js/user.js"></script>-->
{{/block}}